.small-card {
  position: relative;
  padding-bottom: 16px;

  &:not(:last-child) {
    border-bottom: 1px solid
      var(--ion-border-color, var(--border-color, var(--ion-color-shade, #000)));
  }

  h4 {
    margin: 0;
  }

  .small-card + & {
    margin-top: 16px;
  }

  ion-img {
    flex: none;
    border-radius: 2px;
    overflow: hidden;
    height: 66px;
    width: 66px;
    padding: 0;
    margin: 0;
  }

  ion-label {
    //margin: 0 0 16px 0;

    & > div {
      gap: 1rem;
      display: flex;
      flex-direction: row;
    }
  }

  ion-icon {
    height: 2rem;
    width: 2rem;
    color: var(--ion-color-dark);
  }

  .text {
    display: flex;
    flex-direction: column;
  }
}
