.base-container {
  padding-top:50px;
  background-color: white;
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.measurements-form-container {
  width: 80%;
  height: 90%;
  border: dashed;
  display: flex;
  justify-content: center;
}

.image-base-container {
}

.inputs-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.slide-container {
  border: dashed;
  color: purple;
}

.slide {
  width: 100%;
  padding: 50px 5% 0 5%;
  border: dashed;
  color: black;
}
