.base-container {
  padding-top: 50px;
  background-color: white;
  height: 100%;
  width: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
}

.measurements-form-container {
  width: 80%;
  height: 90%;
  border: dashed;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.card {
  height: 85vh;
}

.review-value {
  margin: 10px;
}

.inputs-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.slide-container {
}

.slide {
  width: 100%;
  padding: 10px 5% 0 5%;
  color: white;
}

.submit-button {
  align-self: flex-end;
}

.submit-card {
  height: 80%;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.review-results-container {
  height: 100%;
  overflow-y: scroll;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}
