.submit-item {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.submit-title {
  font-weight: bold;
}

.submit-details {
  margin-left: 5px;
  margin-top: 1px;
  display: flex;
  align-content: flex-end;
}
