.profile-details__ {
  h2 {
    margin: 10px;
  }

  ion-list {
    margin: 16px;
  }

  .divider {
    height: 1px;
    background: var(--ion-color-light);
    margin: 16px;
  }

  .profile-info-container {
    display: flex;
  }

  .profile-image {
    ion-img {
      height: 140px;
      width: 140px;
      margin: 15px;
      border-radius: 100%;
      overflow: hidden;
    }
  }

  .info-container {
    margin: 26px 10px 15px 0px;
    width: 60%;
  }

  .info-item {
    padding: 5px;
  }

  .info-header {
    font-weight: 200;
  }

  .detail-title {
    margin: 5px;
    font-weight: 500;
  }

  .detail-text {
    font-weight: 300;
    margin: 0px 2px 0px 2px;
  }

  .profile-item-header {
    font-weight: bold;
    font-size: 24px !important;
  }

  .profile-item-button {
    width: 95%;
    margin: 10px 10px 0px 10px;
  }

  .items-container {
    display: flex;
    flex-direction: column;
  }

  .profile-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item-image {
    margin: 5px;
    border: dashed;
    height: 60px;
    width: 60px;
  }

  .item-date {
    margin-top: 15px;
    margin-right: 5px;
    font-weight: 300;
    font-size: 14px;
  }

  .card-details {
    width: 55%;
    margin: 10px;
  }
}
