.submit-item {
  display: flex;
  flex-direction: row;
  line-height: 1.5rem;
}

.submit-title {
  font-weight: bold;
}

.submit-details {
  margin-left: 5px;
  margin-top: 1px;
  display: flex;
  align-content: flex-end;
}

.problem {
  color: red;
}

.submit-hint {
  font-size: 0.875rem;
  margin: 0 0 1rem 1rem;
}
