.header-big__ {
  .sort-filter-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 1.375rem;
  }

  .sort-filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--ion-color-tertiary-contrast);
  }
}

ion-toolbar {
  .button {
    color: var(--ion-color-tertiary-contrast);
  }

  h1,
  h2 {
    padding: 0 1rem;
  }

  color: var(--ion-color-tertiary-contrast);
  --background: var(--ion-color-tertiary);

  ion-searchbar {
    input {
      --background: var(
        --ion-item-background,
        var(--ion-background-color, #fff)
      );
    }
  }
}
