.header-base {
  background-color: var(--ion-color-tertiary);
  color: white;
  height: 22vh;
}

.header-items {
  margin: 10px;
  margin-top: 15px;
}

.header-text {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-container {
  height: 4vh;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-header {
  padding-top: 35px;
}
